<h1>Welcome to Quizzter 2</h1>

<a href="https://github.com/joehenriod/quizzter2">Git Hub</a>
<a href="https://quizzter2.herokuapp.com/">Heroku</a>



<h1><%= @koan.saying %></h1>
<h2>- <%= @koan.author %></h2>


