<div class="col-xs-12">
	 <h1>Welcome to Quizzter 2</h1>
 </div>

<br class="clear" />

<div class="col-xs-12">
    <a href="https://github.com/joehenriod/quizzter2">Git Hub</a>
	<a href="https://quizzter2.herokuapp.com/">Heroku</a>
 </div>
 
<br class="clear" />

<h1><%= @koan.saying %></h1>
<h2>- <%= @koan.author %></h2>


